---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul li:nth-child(2){
				background-color: beige;
				color: var(--clr-noir);
				padding-top: 10rem;			}
			ul li:nth-child(4){
				background-color: beige;
				color: var(--clr-noir);
				padding-top: 10rem;	
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="">
			<section class="flex flex-col gap-10">
				<ul class="flex h-[80vh]">
					{
						posts.map((post) => (
							<li class="h-4/5 bg-noir p-10 text-beige w-full">
								<a href={`/blog/${post.slug}/`}>
									<img class="" src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
					<div class="flex gap-10 justify-center">
						<div class="flex flex-col gap-5 w-[400px] items-center">
							<img class="vignette_projet" src="img-portfolio/logo_mosbier.png" alt="logo du bar Mos&Bier">
							<h2 class="font-titre text-black text-2xl text-center"> Mos & Bier - bar</h2>
						</div>
						<div class="flex flex-col gap-5 w-[400px] items-center">
							<img class="vignette_projet" src="img-portfolio/logo_mosbier.png" alt="logo du bar Mos&Bier">
							<h2 class="font-titre text-black text-2xl text-center"> Mos & Bier - bar</h2>
						</div>
						<div class="flex flex-col gap-5 w-[400px] items-center">
							<img class="vignette_projet" src="img-portfolio/logo_mosbier.png" alt="logo du bar Mos&Bier">
							<h2 class="font-titre text-black text-2xl text-center"> Mos & Bier - bar</h2>
						</div>
					</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
